<a href="https://colab.research.google.com/github/kaholict/Karpov-Course/blob/main/Spearman.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
import pandas as pd
from scipy.stats import spearmanr
from numpy import nan

In [3]:
df = pd.read_excel("/content/good_data.xlsx")

In [12]:
df.head(15)

,Unnamed: 0,child_id,Unnamed: 1,Sex,born_date,SG,Беременность,возраст_матери,Роды_кол-во,роды,...,АБ_4_сутки,АБ_5_сутки,АБ_6_сутки,АБ_7_дней,АБ_14_дней,АБ_21_день,АБ_1_мес,АБ_2_мес,опер_сутки,36_ПКВ
0,0,19,1.0,boy,2015-01-17,26,3.0,30.0,1.0,1.0,...,AB_10,AB_10,AB_10,AB_10,AB_10,AB_5,AB_6,AB_1,0.0,БЛД_3
1,1,20,2.0,boy,2015-01-09,25,2.0,23.0,1.0,2.0,...,AB_10,AB_10,AB_10,AB_12,AB_5,AB_5,AB_2,AB_13,0.0,БЛД_2
2,2,21,3.0,girl,2015-01-29,26,1.0,30.0,1.0,2.0,...,AB_4,AB_4,AB_4,AB_1,AB_10,AB_12,AB_5,AB_0,28.0,БЛД_2
3,3,26,2.0,boy,2015-03-27,26,7.0,28.0,2.0,1.0,...,AB_4,AB_1,AB_1,AB_1,AB_10,AB_10,AB_12,AB_0,0.0,БЛД_3
4,4,22,3.0,boy,2015-03-08,25,9.0,39.0,4.0,1.0,...,AB_10,AB_12,AB_12,AB_12,AB_12,AB_10,AB_14,AB_13,9.0,БЛД_2
5,5,81,NaN,boy,2019-01-06,25,2.0,36.0,1.0,1.0,...,AB_3,AB_3,AB_3,AB_3,AB_5,AB_5,AB_14,AB_0,0.0,БЛД_3
6,6,25,3.0,girl,2015-03-15,26,1.0,29.0,1.0,2.0,...,AB_1,AB_1,AB_1,AB_1,AB_12,AB_12,AB_12,AB_2,16.0,БЛД_3
7,7,15,3.0,boy,2015-06-24,26,4.0,23.0,1.0,1.0,...,AB_10,AB_10,AB_10,AB_5,AB_14,AB_14,AB_16,AB_16,15.0,БЛД_2
8,8,42,NaN,girl,2015-12-21,27,4.0,30.0,2.0,1.0,...,AB_4,AB_4,AB_4,AB_3,AB_3,AB_3,AB_5,AB_2,0.0,БЛД_2
9,9,24,1.0,girl,2015-02-25,27,2.0,31.0,1.0,2.0,...,AB_4,AB_4,AB_4,AB_1,AB_5,AB_12,AB_16,AB_0,0.0,БЛД_2
10,10,30,2.0,girl,2015-02-14,25,4.0,28.0,3.0,1.0,...,AB_5,AB_5,AB_5,AB_5,AB_22,AB_14,AB_16,AB_2,0.0,БЛД_3
11,11,7,3.0,boy,2015-09-04,26,3.0,29.0,2.0,1.0,...,AB_3,AB_3,AB_3,AB_3,AB_5,AB_5,AB_14,AB_15,14.0,БЛД_2
12,12,10,2.0,girl,2015-08-16,26,5.0,34.0,3.0,1.0,...,AB_3,AB_3,AB_3,AB_3,AB_3,AB_14,AB_14,AB_10,0.0,БЛД_3
13,13,12,2.0,girl,2015-04-17,28,1.0,30.0,1.0,2.0,...,AB_1,AB_1,AB_1,AB_1,AB_1,AB_1,AB_14,AB_5,0.0,БЛД_3
14,14,13,3.0,girl,2015-01-07,24,4.0,30.0,4.0,2.0,...,AB_4,AB_4,AB_10,AB_12,AB_5,AB_5,AB_2,AB_17,7.0,БЛД_2

In [22]:
def get_non_na_series(df, values, s_1, s_2):
  my_index = 0
  i = 0
  for val in values:
    if not val == nan:
      s_2.append(val)
      s_1.append(df["36_ПКВ"][i])
      my_index += 1
    i += 1

In [23]:
for name, values in df.iteritems():
  s_1 = pd.Series()
  s_2 = pd.Series()
  get_non_na_series(df, values, s_1, s_2)
  coef, p = spearmanr(s_1, s_2)
  print(name, coef, p)

<ipython-input-23-5935c5d9b457>:2: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  s_1 = pd.Series()
<ipython-input-23-5935c5d9b457>:3: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  s_2 = pd.Series()

TypeError: ignored

In [ ]:
df["36_ПКВ"] = [item[4] for item in df["36_ПКВ"]]
# coef, p = spearmanr(df["36_ПКВ"], df.hight_0)
# print(coef, p)

TypeError: ignored

In [ ]:
df[["36_ПКВ", "Сильверман"]]